div.RepoBody
  border: 3px solid #343a40
  margin-bottom: 0.4rem
  text-align: center
  background-color: #f8f9fa
  &:hover
    background-color: #cecece
  a.ContentLink
    height: 100%
    width: 100%
    color: #343a40 !important
    text-decoration: none !important
  .Body
    padding-bottom: 0.5rem
  a
    color: #343a40 !important
    text-decoration: none !important
    margin-bottom: 0
    padding: 0
  p
    margin-bottom: 0.5rem